In [11]:
import pandas as pd

data = {'Alpha':  [1,5,9,6,45,8,4,7,45,33],
        'Beta':  [559,5,44,88,6565,1,5665,51,15,7],
        'Gamma':  [665,9985,2,46,6,6,77,8,53,54],
        'Delta':  [24,88,5,2,5,6,45545,5,7,778825],
        }

df = pd.DataFrame (data, columns = ['Alpha','Beta','Gamma','Delta'])

print (df)

  Alpha  Beta  Gamma   Delta
0     1   559    665      24
1     5     5   9985      88
2     9    44      2       5
3     6    88     46       2
4    45  6565      6       5
5     8     1      6       6
6     4  5665     77   45545
7     7    51      8       5
8    45    15     53       7
9    33     7     54  778825

In [42]:
import pandas as pd

data = {'AGR_NAME':  ['Alpha','Bravo','Charlie','Delta','Echo','Foxtrott','Golf','Hotel','India','Juliette'],
        'LOW':  ['AA01','BB01','CC09','DD06','EE45','FF08','GG01','HH07','II45','JJ30'],
        'HIGH':  ['AA01','BB05','CC09','DD06','EE45','FF08','GG04','HH07','II45','JJ33'],
        }

df = pd.DataFrame (data, columns = ['AGR_NAME','LOW','HIGH'])

print(df)

#Create an empty dataframe 
df3 = pd.DataFrame()

#Loop through DataFrame rows as (index, Series) pairs
for index, row in df.iterrows():

 #Set diff as variable for the difference of the last digits from LOW and HIGH
 diff = int(row['HIGH'][-1]) - int(row['LOW'][-1])

 #Fill the dataframe with the rows multipled by their difference calues from before...
 df3 = df3.append([row]*(diff+1))

 #Create a column with the counted duplicates from AGR_NAME and LOW starting with 1
 df3['C'] = df3.groupby(['AGR_NAME','LOW']).cumcount()+1; df3


#Create a column with the last character from LOW
df3['CC'] = df3['LOW'].str[3:]


#Change the format of column C from int to str
df3["C"] = df3["C"].astype(str)

#Create a map...this is surely possible with something smarter
chg = {
    '0': '-1', 
    '1': '0',
    '2':'1',
     '3':'2',
    '4': '3',
    '5': '4',
    '6': '5',
    '7': '6',
    '8': '7',
    '9': '8'
}

#Create a column with the mapped numbers
df3['CCC'] = df3['CC'].map(chg)

#Change the format of column CCC and C to int
df3['CCC'] = df3['CCC'].astype(int)

df3['C'] = df3['C'].astype(int)

#Create a column for the correct end number of column LOW
z = [ row.CCC + row.C for index, row in df3.iterrows() ]
df3['z'] = z

#Change the format of column C from int to str
df3["C"] = df3["C"].astype(str)

#Change the format of column z from int to str
df3["z"] = df3["z"].astype(str)

#Modify the values in LOW by cutting the last digit and adding the string from C
df3['LOW'] = df3['LOW'].str[:-1] + df3['z']

#Drop the help Columns C - z
df3.drop(df3.columns[[3,4,5,6]], axis = 1, inplace = True)

print()
print(df3)

   AGR_NAME   LOW  HIGH
0     Alpha  AA01  AA01
1     Bravo  BB01  BB05
2   Charlie  CC09  CC09
3     Delta  DD06  DD06
4      Echo  EE45  EE45
5  Foxtrott  FF08  FF08
6      Golf  GG01  GG04
7     Hotel  HH07  HH07
8     India  II45  II45
9  Juliette  JJ30  JJ33

   AGR_NAME   LOW  HIGH
0     Alpha  AA01  AA01
1     Bravo  BB01  BB05
1     Bravo  BB02  BB05
1     Bravo  BB03  BB05
1     Bravo  BB04  BB05
1     Bravo  BB05  BB05
2   Charlie  CC09  CC09
3     Delta  DD06  DD06
4      Echo  EE45  EE45
5  Foxtrott  FF08  FF08
6      Golf  GG01  GG04
6      Golf  GG02  GG04
6      Golf  GG03  GG04
6      Golf  GG04  GG04
7     Hotel  HH07  HH07
8     India  II45  II45
9  Juliette  JJ30  JJ33
9  Juliette  JJ31  JJ33
9  Juliette  JJ32  JJ33
9  Juliette  JJ33  JJ33